
<!DOCTYPE html>
<html>
    <head>
        <title>Annotation Tool [beta]</title>

        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://bevacqua.github.io/horsey/dist/horsey.css' rel='stylesheet' type='text/css' />
        <link href="stylesheets/main.css" rel="stylesheet"/>
        <link href="stylesheets/shCoreDefault.css" rel="stylesheet"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="javascripts/shCore.js"></script>
        <script src="javascripts/shBrushJScript.js"></script>
        <script src="http://bevacqua.github.io/horsey/dist/horsey.js"></script>
        <script src="javascripts/main.js"></script>
        <script type="text/javascript">
            function download(filename, text) {
              var element = document.createElement('a');
              element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
              element.setAttribute('download', filename);

              element.style.display = 'none';
              document.body.appendChild(element);

              element.click();

              document.body.removeChild(element);
            }

            function save() {
                queries = $('#textarea1').val().trim().replace(/@/g, '|');
                download('queries.txt', queries);
            }
        </script>
    </head>

    <body>
        <div class="container">
            <div class="page-header">
                <h1>
                    Annotation Tool [beta]
                    <small>Autocomplete for facets</small>
                </h1>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="parser_select">Select Parser</label>
                        <select class="form-control" id="parser_select">
                            <% for(var i=0; i<parsers.length; i++) { %>
                                <option>
                                    <%= parsers[i].parser_name %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        &nbsp&nbsp&nbsp&nbsp<span><b>Upload Raw Query Files</b></span>
                    </div>
                    <div class="form-group">
                        <input id="file_input" type="file" multiple>
                    </div>
                    <div class="form-group">
                        <button class="btn" onclick="upload_query_files(event)" id="upload_btn">Upload</button>
                    </div>
                </form>
            </div>

            <h3 id="basic-usage">Basic Usage: use '@' instead of '|', for example: `Play {Madonna@artist}`</h3>
            <div class="textarea-wrapper">
                <span class="label label-default">Input</span>
                <textarea class="form-control" id="textarea1" rows="15">Play Madonna</textarea>
            </div>
            <script type="text/javascript">
                horsey(document.querySelector('textarea'), {
                  suggestions: [
                    { value: '@genres} ', text: 'genres' },
                    { value: '@track}', text: 'track' },
                    { value: '@album}', text: 'album' },
                    { value: '@artist}', text: 'artist' },
                    { value: '@playlist}', text: 'playlist' },
                    { value: '@type}', text: 'type' },
                    { value: '@range}', text: 'range' },
                    { value: '@sort}', text: 'sort'},
                    { value: '@num:time]', text: 'num:time' },
                    { value: '@num:interval]', text: 'num:interval' },
                  ],
                  anchor: '@'
                });
            </script>
            <button onclick="save()" style="margin-top: 5px;">Save</button>
        </div>
    </body>
</html>
